body {
    background-color: rgb(255,0,0);
  }
  h1 {
    color: rgb(0,255,0);
  }
  p {
    color: rgb(0,0,255);
  }


.header {
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

div.navigation {
  background-color: black;
}
 
.navigation a {
  text-decoration: none;
  background: lightgray;
  min-width: 500px;
  padding: 10px;
  outline-style: inset;
  outline-width: 8px;
  outline-color: #000000;
}

.navigation .not-ready {
  text-decoration: line-through;
}
 
.header a:hover {
  background-color: #790808;
  color: white;
}