body {
    background-color: rgb(255,0,0);
  }
  h1 {
    color: rgb(0,255,0);
  }
  p {
    color: rgb(0,0,255);
  }


.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

.headerlink {
  background: #000000
}